@model ServiceApresVente.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Reference</th>
                <th>Date Achat</th>
                <th>Durée Garantie</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nom)</td>
                <td>@Html.DisplayFor(model => model.Reference)</td>
                <td>@Html.DisplayFor(model => model.DateAchat)</td>
                <td>@Html.DisplayFor(model => model.DureeGarantie)</td>
                <td>@Html.DisplayFor(model => model.User.Id)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
